*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI';
}

body{
  
}
.main-theme {
    width: 100%;
    height:max-content;
    background-image: url(./assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark-theme {
    width: 100%;
    height:max-content;
    background-image: url(./assets/Background-dark-mode.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
#main{
    width: 100%;
    height:900px;
  
}

#container-profile{
    display: flex;
   align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 15px;
}
#container-profile >h5{
    color: #000000;
    font-size: 20px;
}
#container-profile > img{
width: 150px;
border: 2px solid #fff;
border-radius: 90%;
margin-top: 20px;
}

#container-theme{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    
}
#theme-controll{
    width: 55px;
    height: 18px;
    background-color: antiquewhite;
    border-radius: 8px;
   
}
#theme-controll img{
    position: relative;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
#container-list-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container-list-links ul {
    margin: 15px;
}
#container-list-links ul li{
   background-color: gray;
   padding: 10px;
   width: 450px;
   text-align: center;
   border-radius: 7px;
   border: 1px solid rgb(255, 255, 255);
   box-shadow: 2px 2px rgb(201, 196, 196);
  
}
#container-list-links ul li:hover{
    background-color:rgb(172, 165, 165);
}
#container-list-links ul li a{
    color: #fff;
    font-weight: 700;
}